<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>watch</title>
    <style>
       
       
        .container-fluid{
            padding-left: 1020px;
            background-color: rgb(201, 236, 161);
        }
       

        .contact-us{
            background-color: white;
            margin: 100px 0px 0px 80px;
            padding: 30px 65px 40px 70px;
        }
        
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">watch</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Detail</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </nav>
    </div>

    <div class="container main-content contact-us">
        <div class="row border-mob1">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 address-box">
              <div class="address-list-item default subaddress-box">
                <h1>Help & Contact</h1>
              </div>
            </div>
    
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 contact-options">
              <div class="address-list-item default">
                <h2>Have a question</h2><br>
                <ul>
                  <li>
                    <span class="email-info">Email us at customercare@titan.co.in</span>
                  </li>
                  <li>
                    <span class="email-info">Call us @ <span class="number-edit">1800-266-0123</span></span>
                  </li>
                  <!--li>
                    <img src="" --/>
                    <!--span class="email-info">Chat to us using <span class="number-edit">Live Chat</span></span-->
                  </li>
                </ul>
    
              </div>
            </div>
        </div>
    </div>
</body>
</html>